body {
    font-family: 'Ranchers', cursive;
    margin: 0%;
    overflow: scroll;
}

#product-overview {
    background: #ff1b58;
    width: 70%;
    height: 10%;
}

.section-title {
    color: #2ddf5c;
}

#product-overview h1 {
    color: greenyellow;
    font-family: 'Reggae One', cursive;
}

.main-header {
    width: 100%;
    background-color: lightpink;
    padding: 8px 18px;
    position: fixed;
}

.main-header>div {
    display: inline-block;
}

.main_nav {
    display: flex;
}

.main-nav__item {
    display: inline-block;
}